/.idea/.gitignore
/.idea/RL-minigrid.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/common/__pycache__/*.pyc
/algorithms/__pycache__/*.pyc
/__pycache__/*.pyc
/result/
